/* :root {
    --padding-base-vertical: 14px;
    --padding-base-horizontal: 18px;
    --padding-t-vertical: 4px;
    --padding-t-horizontal: 10px;
    --padding-s-vertical: 8px;
    --padding-s-horizontal: 14px;
    --padding-l-vertical: 18px;
    --padding-l-horizontal: 28px;
    --padding-container-base: 48px;
}
 */


@charset "UTF-8";

@keyframes downfade{
    0% {
        opacity: 0%;
        transform: translate(-50%,150%);
    }


    25% {
        opacity: 100%;
        transform: translate(-50%,160%);
    }
    

    50% {
        opacity: 100%;
        transform: translate(-50%,150%);
    }
   
    
    75% {
        opacity: 100%;
        transform: translate(-50%,160%);
    }

    100% {
        opacity: 0%;
        transform: translate(-50%,140%);
    }

}



*,::after,::before {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style: none;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    /* clip-path: polygon(0 0, 0 0, 0 0, 0 0); */
    clip: rect(1, 1, 1, 1);
    overflow: hidden;
    margin: -1px;
}

.cont-nav{
    /* padding: 8px 0 7px 0; */
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,27,55,0);
    transition:all .2s;
    z-index: 10;
}

.cont-nav .nav-row {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 92%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}

.cont-nav .nav-row .cont-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-nav .nav-row .cont-logo svg { 
    width: 75.5px ;

}

.cont-nav .nav-row .cont-menu{
    display: flex;
    flex: 1;
    justify-content: end;
}


.cont-nav .nav-row .cont-menu .row-menu,.row-lang {
    
    display: flex;
    justify-content: end;
}

/* .txt-box {
    padding: 15px 10px;
    background-color: #f2f4f6;
    border-radius: 2px;
} */

.cont-menu .row-menu li ,.row-lang li  {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 10px; */
   
}

.row-lang li:nth-child(1){
    padding-left: 44px;
}

.cont-menu .row-menu li a,.row-lang li a {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px 10px;
    background-color: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 20px;
    box-sizing: content-box;
    margin: 0 8px;
    text-decoration: none;
    color: #4e5968;
}
.cont-menu .row-menu li a:hover,.row-lang li a:hover {
    background-color: #f2f4f6;
}

.row-lang li:nth-child(1):after {
    content: "\007C";
    float: right;
    font-size: 13px;
    line-height: 1.4;
    
}

/* .cont-lang .row-lang li {
    padding: 15px 10px;
    background-color: #f2f4f6;
    border-radius: 10px;
} */

.cont-nav .nav-row .cont-lang .row-lang {
    display: flex;
}

.landing-page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 100vh;
    
}

.div-grad {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
}

.landing-page header {
    position: absolute;
    top: 17%;
    word-break: keep-all;
    

    /* white-space: pre-wrap; */
   
}

.landing-page p{
    width: 100%;
    font-weight: 700;
    font-size: 66px;
    margin-bottom: 66px;
    text-align: center;
    line-height: 1.4;   
}

.landing-page span{
    display: block;
   
}

.landing-page .btn-down {
    width: 178px;
    height: 71px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #3182f6;
    border-radius: 50px;
    text-align: center;
    color: #f9fafb;
    text-decoration: none;
}

.play-intro {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    
}

.arrow-down {
    width: 50px;
    margin-left: 50%;
    animation: downfade 4s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation-delay: 3s;
}


.landing-desc{
    background-color: #f9fafb;
    /* background-color: #5c7d9e; */
}

.landing-desc p{
    padding: 200px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: #191f28;
    text-align: center;
    
}

.landing-desc p span{
    display: block;
}

/*홈 소비 화면 섹션*/
.home-and-budget {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.home-and-budget-cont {
    padding: 250px 0 165px 0;
    max-width: 1140px;
    margin: auto;
    width: 100%;
    height: 100%;
}


.home-and-budget-outer-wrap {
    width: 92%;
    height: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.home-and-budget-inner-wrap {
    position: relative;
    height: 1272px;
}

.home-and-budget-title {
    position: relative;
}

.home-and-budget-title h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 30px;
}

.home-and-budget-title p {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
}

.home-and-budget-img {
    box-sizing: border-box;
}

.home-and-budget-img .cont-home-img {
    position: absolute;
    width: 600px;
    height: 936px;
    right: -104px;
    top: 0px;
    
}
.home-and-budget-img .cont-home-img .home-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57%;
    height: auto;
    transform: translate(-50%, -50%);
}
.home-and-budget-img .cont-home-img .mock-up-case {
    position: relative;
    width: 100%;
    height: 100%;
}


.home-and-budget-img .cont-budget-img {
    position: absolute;
    width: 600px;
    height: 936px;
    left: -104px;
    bottom: 0px;
    
}
.home-and-budget-img .cont-budget-img .budget-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57%;
    height: auto;
    transform: translate(-50%, -50%);
}
.home-and-budget-img .cont-budget-img .mock-up-case {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-and-budget-title p span{
    display: block;
}

.home-and-budget-desc-p {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    position: absolute;
    right: 30px;
    bottom: 166px;    
}

.home-and-budget-desc-p span{
    display: block;
}

/*송금 섹션 transfer */

.transfer-cont {
    background-color: #f9fafb;
    position: relative;
}

.transfer {
    max-width: 1140px;
    width: 92%;
    margin: 0 auto;
}

.transfer p {
    white-space: pre-line;
    word-break: keep-all;
    
}

.transfer-header {
    padding-top: 250px;
    padding-bottom: 100px;
}

.transfer-header>p {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
}


/*제목h2*/
.transfer-header>h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 30px;
}

.transfer-flex-width {
    
}

.transfer-flex-grid {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
}

.transfer-desc-top{
    flex-basis: calc(100% - 30px);
    display: flex;
    margin: 0 30px 30px 0;
    padding: 40px;
    align-items: center;
    height: 500px;
    border-radius: 25px;
    background-color: #ffffff;
    overflow: hidden;
}

.transfer-desc-top video {
    width: 618px;
    
}

.transfer-desc-top>p {
    position: absolute;
    left: 55%;
    word-break: keep-all;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
}

.blue {
    color: #3182f6;
}

.white {
    color: #ffffff;
}

.icons {
    display: inline-block;
    width: 20px;
}

.icons>svg {
    width: 100%;
}

.transfer-desc-bottom-left {
    max-width: calc(33.333% - 30px);
    flex-basis: calc(33.333% - 30px);
    height: 500px;
    /* padding: 40px; */
    margin: 0 30px 30px 0;
    padding: 40px;
    overflow: hidden;
    isolation: isolate;
    border-radius: 26px;
    background-color: #191f28
}
.transfer-desc-bottom-left p {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.3;
    color: rgb(176, 184, 193);
    margin-bottom: 64px;
    overflow-wrap: break-word;
}
.transfer-desc-bottom-left div {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.transfer-desc-bottom-left div>img {
    width: 100%;
}

.transfer-desc-bottom-right {
    flex-basis: calc(66.667% - 30px);
    position: relative;
    display: flex;
    height: 500px;
    /* padding: 40px; */
    margin: 0 30px 30px 0;
    overflow: hidden;
    background-color: #ffffff;
    isolation: isolate;
    border-radius: 26px;
    padding: 40px;
}
.transfer-desc-bottom-right icons-cont {
    display: inline-block;
}

.transfer-desc-bottom-right p {
    margin-top: 300px;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    word-break: keep-all;
    white-space: pre-wrap;
}

.transfer-desc-bottom-right img {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 540px;
    height: auto;
}

/* 푸터 */
footer {
    background-color: #191f28;
    padding: 50px 0 100px;
}

footer .footer-wrap {
    max-width: 1064px;
    margin: auto;
    padding: 0 67px;
    box-sizing: border-box;
}

footer .sitemap {
    display: flex;
    padding-bottom: 50px;
}
.sitemap ul {
    width: 170px;
    margin: 0;
    padding: 0;
    color: #6b7684;
    list-style: none;
    font-size: 15px;
    line-height: 30px;
}
.sitemap ul:last-of-type {
    flex: 1;
}
.sitemap ul li:first-child {
    font-weight: 700;
    padding-bottom: 5px;
    color: #b0b8c1;
}
.sitemap ul li>a {
    display: block;
    text-decoration: none;
    color: #6b7684;
}
.sitemap ul li>a:hover {
    text-decoration: underline;
}

footer address {
    color: #8b95a1;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    /* white-space: pre-wrap; */
}
footer address strong {
    display: block;
    padding-bottom: 16px;
    color: #b0b8c1;
    font-size: 15px;
}
footer address>a {
    text-decoration: none;
    color: #6b7684;
}
footer address>a:hover {
    text-decoration: underline;
}

footer .terms {
    display: flex;
    margin: 0;
    padding: 24px 0 30px;
    list-style: none;
}
footer .terms li {
    padding-right: 30px;
}
footer .terms li>a {
    color: #6b7684;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    word-break: keep-all;
    white-space: pre-wrap;
}
footer .terms li>a:hover {
    text-decoration: underline;
}
footer .terms li>a>strong {
    color: #b0b8c1;
    font-weight: 500;
    font-style: normal;
}

footer .social__media {
    display: flex;
}
footer .social__media li {
    margin-right: 8px;
}
footer .social__media li>a {
    cursor: pointer;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: opacity .2s ease;
    opacity: .7;
}
footer .social__media li>a:hover {
    opacity: 1;
}
